.thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.8rem;
}

.default {
  opacity: 0.4;
}
