.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #8dc541;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
}
